---
import "../components/styles/AboutSection.css";
---

<section class="about-section py-16 reveal">
  <div class="container mx-auto px-6 sm:px-12">
    <h2 class="text-4xl sm:text-4xl font-bold text-center mb-12">Sobre mí</h2>

    <!-- Personal Info -->
    <div class="max-w-4xl mx-auto mb-12">
      <div class="text-center space-y-6">
        <p class="text-lg">
          Soy un desarrollador de software apasionado con experiencia en
          desarrollo ágil y una amplia gama de tecnologías como React, Angular,
          Node.js, y más. Estoy comprometido con la calidad y la innovación
          tecnológica.
        </p>
        <div class="flex items-center justify-center space-x-4">
          <i class="fas fa-map-marker-alt text-red-500 text-2xl"></i>
          <span>Ibagué, Tolima, Colombia</span>
        </div>
        <div>
          <h3 class="text-xl font-bold">Intereses</h3>
          <p>Escuchar música, jugar fútbol, y explorar nuevas tecnologías.</p>
        </div>
      </div>
    </div>

    <!-- Tech Stack -->
    <div class="max-w-6xl mx-auto">
      <div class="space-y-6">
        <div>
          <h3 class="text-xl font-bold text-center mb-8">Habilidades Técnicas</h3>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">Frontend</h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-nextjs-plain text-black text-4xl tooltip"
                  title="Next.js"></i>
              </li>
              <li>
                <i
                  class="devicon-angularjs-plain text-red-500 text-4xl tooltip"
                  title="Angular"></i>
              </li>
              <li>
                <i
                  class="devicon-react-original text-blue-500 text-4xl tooltip"
                  title="React"></i>
              </li>
              <li>
                <i
                  class="devicon-html5-plain text-orange-500 text-4xl tooltip"
                  title="HTML5"></i>
              </li>
              <li>
                <i
                  class="devicon-css3-plain text-blue-500 text-4xl tooltip"
                  title="CSS3"></i>
              </li>
              <li>
                <i
                  class="devicon-javascript-plain text-yellow-500 text-4xl tooltip"
                  title="JavaScript"></i>
              </li>
              <li>
                <i
                  class="devicon-typescript-plain text-blue-400 text-4xl tooltip"
                  title="TypeScript"></i>
              </li>
              <li>
                <i
                  class="devicon-bootstrap-plain text-purple-600 text-4xl tooltip"
                  title="Bootstrap"></i>
              </li>
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">Backend</h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-nodejs-plain-wordmark text-green-500 text-4xl tooltip"
                  title="Node.js"></i>
              </li>
              <li>
                <i
                  class="devicon-express-original text-gray-500 text-4xl tooltip"
                  title="Express.js"></i>
              </li>
              <li>
                <i
                  class="devicon-nestjs-plain text-red-500 text-4xl tooltip"
                  title="NestJS"></i>
              </li>
              <li>
                <i
                  class="devicon-php-plain text-purple-500 text-4xl tooltip"
                  title="PHP"></i>
              </li>

              <li>
                <i
                  class="devicon-laravel-plain text-red-600 text-4xl tooltip"
                  title="Laravel"></i>
              </li>
              
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">ORM</h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-sequelize-plain text-blue-700 text-4xl tooltip"
                  title="Sequelize"></i>
              </li>
              <li>
                <i
                  class="devicon-prisma-plain text-black-500 text-4xl tooltip"
                  title="Prisma"></i>
              </li>
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">Bases de Datos</h4>
            <ul class="flex flex-wrap gap-4">
                <li>
                <i
                  class="devicon-mariadb-plain text-blue-500 text-4xl tooltip"
                  title="MariaDB"></i>
                </li>
              <li>
                <i
                  class="devicon-postgresql-plain text-blue-700 text-4xl tooltip"
                  title="PostgreSQL"></i>
              </li>
              <li>
                <i
                  class="devicon-mongodb-plain text-green-500 text-4xl tooltip"
                  title="MongoDB"></i>
              </li>
              <li>
                <i
                  class="devicon-oracle-original text-red-500 text-4xl tooltip"
                  title="Oracle"></i>
              </li>
              <li>
                <i
                  class="devicon-supabase-plain text-green-500 text-4xl tooltip"
                  title="Supabase"></i>
              </li>
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">DevOps</h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-amazonwebservices-plain-wordmark text-orange-400 text-4xl tooltip"
                  title="AWS"></i>
              </li>
              <li>
                <i
                  class="devicon-googlecloud-plain text-blue-500 text-4xl tooltip"
                  title="Google Cloud Platform"></i>
              </li>
              <li>
                <i
                  class="devicon-vercel-original text-black-900 text-4xl tooltip"
                  title="Vercel"></i>
              </li>
              <li>
                <i
                  class="devicon-git-plain text-red-500 text-4xl tooltip"
                  title="Git"></i>
              </li>
              <li>
                <i
                  class="devicon-github-original text-gray-700 text-4xl tooltip"
                  title="GitHub"></i>
              </li>
              <li>
                <i
                  class="devicon-circleci-plain text-green-500 text-4xl tooltip"
                  title="GitHub Actions"></i>
              </li>
              <li>
                <i
                  class="devicon-docker-plain text-blue-500 text-4xl tooltip"
                  title="Docker"></i>
              </li>
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">
              Infraestructura y Sistemas Operativos
            </h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-ubuntu-plain text-orange-600 text-4xl tooltip"
                  title="Ubuntu"></i>
              </li>
              <li>
                <i
                  class="devicon-windows8-original text-blue-400 text-4xl tooltip"
                  title="Windows Server"></i>
              </li>
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">Colaboración y Gestión</h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-slack-plain text-purple-700 text-4xl tooltip"
                  title="Slack"></i>
              </li>
              <li>
                <i
                  class="devicon-jira-plain text-blue-600 text-4xl tooltip"
                  title="Jira"></i>
              </li>
              <li>
                <i
                  class="devicon-trello-plain text-blue-400 text-4xl tooltip"
                  title="Trello"></i>
              </li>
              <li>
                <i
                  class="devicon-github-original text-gray-700 text-4xl tooltip"
                  title="GitHub Projects"></i>
              </li>
            </ul>
          </div>

          <div class="space-y-2">
            <h4 class="text-lg font-semibold">Diseño y Herramientas</h4>
            <ul class="flex flex-wrap gap-4">
              <li>
                <i
                  class="devicon-figma-plain text-pink-500 text-4xl tooltip"
                  title="Figma"></i>
              </li>
              <li>
                <i
                  class="devicon-canva-plain text-blue-500 text-4xl tooltip"
                  title="Canva"></i>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
